<div>
  <h1>Password recovery</h1>
  <h2>Hello <%= locals.name %>!</h2>
  <br />
  <p>Click the link below to reset your password</p>
  <a href="http://localhost:3000/reset-password?token=<%= locals.resetLink %>"
    >Reset Password</a
  >
</div>
